.tile-wrapper {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: loadin linear 1s;
}

.tile-wrapper:hover {
    cursor: pointer;
}

.tile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-mine {
    background-image: url('./assets/mine_transparent.png');
    background-size: contain;
    z-index: 1;
}

.tile-flag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    background-image: url('./assets/flag_transparent.png');
    background-size: contain;
    display: none;
    z-index: 2;
}

@keyframes loadin {
    0% {
        transform: rotateZ(-60deg);
        opacity: 0.25 
    }
    100% {
        transform: rotateZ(0);
        opacity: 1; 
    }
}