.tile-wrapper {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tile-wrapper:hover {
    cursor: pointer;
}

.tile-flag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    background-color: yellow;
    display: none;
    z-index: 2;
}